html, body, div {
    min-height:100%;
}

body {
    padding:0;
    margin:0;
    clear:both;
    overflow:auto;
    position:absolute;
    width:100%;
}

header, #header {
    height: 200px;
    padding: 100px 20px 20px 20px;
    position:relative;
    width: 97%;
    
    .logo {
        float:left;
    }
    
    .logo, #dropContainers {
        position: relative;
        display:inline;
    }
    
    .logo h1 {
        font-size: 20em;
        line-height: 0%;
        margin-top: 105px
    }
    
    #dropContainers {
        position:relative;
        width:70%;
        height:100%;
        float:right;
        display:inline;
    }
    
    #dropContainer, #deleteContainer {
        border: 4px dashed;
        height: 100%;
        float:left;
        display:inline;
        
        .drop_zone {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            text-align: center;
            font: 20pt bold 'Vollkorn';
            color: #bbb;
            height: 100%;
            width:100%;
            display: table;
            
            span {
                margin:auto;
                vertical-align:middle;
                text-align:center;
                display:table-cell;
            }
        }
    }
    
    #deleteContainer {
        width: 25%;
        border-color: red;
        position:absolute;
        right:0;
    }
    
    #dropContainer {
        border-color:#bbb;
        width: 52%;
    }
}

#content {
    position:relative;
    display:block;
    
    #projectInfo {
        position:absolute;
        left:20px;
        
        #secondaryLogo {
            span {
                font-size:4em;
            }
            
            span:first-child {
                font-size:7em;
            }
        }

        #instructions {
            font-size: 1.8em;
            display: inline;
            position: relative;
            float: left;
        }
    }
    
    #imageContainer {
        position:absolute;
        right: 13%;
        width:55%;
        
        .sourceImg {
            -webkit-box-shadow: 5px 11px 10px 3px rgba(0, 0, 0, .6);
            box-shadow: 5px 11px 10px 3px rgba(0, 0, 0, .6);
            width:auto;
            height:135px;
            margin:5px;
            position:absolute;
            cursor:pointer;
        }
        
        .sourceImg.large {
            height:100%;
        }
        
        .loadingGif {
            min-width:135px;
        }
        
        .imageLoad, .loadingGif {
            width:auto;
            position:relative;
            height:135px;
            float:left;
            margin:5px;
            font-size:5em;
            color:#bbb;
        }
        
        .loadingGif {
            padding:15px;
        }
    }
}