<!DOCTYPE html>
<html>
  <head>
    <title>Picombinator</title>    
  </head>
  <link type="text/css" rel="stylesheet" 
    href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <link type="text/css" rel="stylesheet/less" href="/static/css/layout.less" />
  <script type="text/javascript" src="/static/js/less.min.js"></script>
  
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <body>
   
    <header>
        <h1 class="logo">&Pi;</h1>
        <div id="dropContainer">
            <div class="drop_zone" id="addFilesDropZone">
                <span>Drop image files here</span>
            </div>
        </div>
        <div id="deleteContainer">
            <div class="drop_zone" id="removeImagesDropZone">
                <span>Drop images here to remove them</span>
            </div>
        </div>
    </header>
    
    <div id="content">
        <div id="projectInfo">
            <div id="secondaryLogo">
                <span>pic</span>
                <span>ombinator</span>
            </div>
            <span class="githubSpot">
                Check it out on 
                <a href="https://github.com/kdazzle/picombinator" target="_blank">
                    Github
                </a>
            </span>
        </div>
        <div id="instructions">
            <ol>
                <li>Drag some images into the gray box above 
                    or <a href="#">load</a> some default ones
                </li>
                <li>
                    Combine the images by dragging one on top of another
                </li>
            </ol>
        </div>
        <div id="imageContainer"></div>
    </div>
    
    <script type="text/javascript" src="/static/js/scripts.js"></script>
  </body>
</html>